@import url(../../../node_modules/normalize.css/normalize.css);

html {
    font-size: 10px;
}
.body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    box-shadow: 0 2px 4px 0 #00000010;
    height: 70px;

    &__container {
        display: flex;
        align-items: center;
        height: 100%;
    }
    &__logo {
        flex: 0 1 30%;
    }

    &__search {
        flex: 1 0 auto;
    }
    &__input-search {
        width: 90%;
        margin: 0 auto;
        display: block;
    }

    &__cart {
        flex: 0 1 30%;
    }
    &__cart-element {
        margin-left: auto;
    }
}

.footer {

}

.logo {
    font-size: 3.5rem;
}
.search {
    border: 1px solid #d3d2d2;
    border-radius: 10px;
    height: 48px;
    font-size: 1.5rem;
    padding: 14px;
    outline: none;
    transition: 0.3s;

    &:focus {
        box-shadow: 0px 0px 3px 0px #4195ff;
    }
}
.container {
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;
}

.main {
    flex: 1 0 auto;

    &__title {
        text-align: center;
    }
    &__container {
        display: flex;
        gap: 20px;
    }

    &__sidebar {
        background: #f6f6f6;
        width: 260px;
        flex: 0 0 260px;
        padding: 15px;
    }

    &__content {
        flex: 1 1 auto;
        width: 100%;
    }
}

.sorts {
    text-align: right;
}

.cart {
    width: 45px;
    height: 45px;
    &__icon {
        width: 100%;
        height: 100%;
        background: url(../img/cart.svg) no-repeat;
        background-size: contain;
        position: relative;
    }
    &__count {
        background: red;
        position: absolute;
        text-align: center;
        color: #fff;
        z-index: 1;
        right: -4px;
        top: 0;
        min-width: 18px;
        font-size: 1rem;
        line-height: 11px;
        font-weight: 500;
        padding: 5px 3px 2px;
        border-radius: 16px;
        font-family: sans-serif;
        box-sizing: border-box;
        visibility: hidden;

        &--show {
            visibility: visible;
        }
    }
}
.filters {
    &__item {
        margin-top: 1.8rem;
    }
}

.filter {

    &__title {
        font-size: 1.8rem;
        font-weight: 500;
        color: #434343;
        vertical-align: middle;
    }
    &__wrap {
        display: flex;
        gap: 10px;
        margin-top: 1rem;

        &--range {
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
    &__label {
        flex: 0 0 auto;
        cursor: pointer;
    }
    &__checkbox {
        display: none;
    }
    &__img {
        border: 1px solid #d5d5d5;
        width: 50px;
        height: auto;
        max-width: 100%;
        display: block;
        transition: 0.3s;
    }
    &__btn {
        border: 1px solid #d5d5d5;
        box-sizing: border-box;
        text-align: center;
        width: 40px;
        height: 40px;
        line-height: 40px;
        transition: 0.3s;

        &--black {
            background: black;
        }
        &--white {
            background: white;
        }
        &--green {
            background: green;
        }
        &--red {
            background: red;
        }
    }
    &__checkbox:checked+&__btn,
    &__checkbox:checked+&__img {
        border: 1px solid #0097ff;
        box-shadow: 0px 0px 4px 0px #0097ff;
    }

    &__input {
        flex: 0 1 auto;
        width: 50px;
        border: 1px solid #d3d2d2;
        border-radius: 10px;
        padding: 3px 4px;

        &:focus {
            outline: #4195ff;
            box-shadow: 0px 0px 3px 0px #4195ff;
        }
    }
    &__input-checkbox {
        width: 1.8rem;
        height: 1.8rem;
        vertical-align: middle;
    }
    &__range {
        flex: 1 0 100%;
    }

    .noUi-horizontal {
        height: 10px;
    }
    .noUi-horizontal .noUi-handle {
        width: 20px;
        height: 20px;
        right: -9px;
        top: -5px;
    }
    .noUi-handle {
        background: #dc092e;
        border-radius: 100px;
        width: 30px;
        height: 30px;
        box-shadow: none;
        border: none;

        &::before, &::after {
            content: none;
        }
    }
    .noUi-target {
        background: #cfcfcf;
        border: none;
        box-shadow: inset 0 1px 1px #bcbcbc, 0 3px 6px -5px #696969;
    }
    .noUi-connect {
        background: #ff7777;
    }
}

.sorts {
    &__title {
        font-size: 1.8rem;
        font-weight: 500;
        color: #434343;
    }
}
.sort {
    border: 1px solid #d3d2d2;
    border-radius: 10px;
    padding: 3px 4px;
    background: #fff;

    &:focus {
        outline: #4195ff;
        box-shadow: 0px 0px 3px 0px #4195ff;
    }
}
.products {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 280px));
    justify-content: space-evenly;
    gap: 20px;

    &__item {
        flex: 0 1 auto;
    }

    &__noitem {
        font-size: 1.8rem;
        width: 100%;
        grid-column: 1 / span 2;
        text-align: center;
        padding: 1.8rem 1rem;
        border: 1px solid #d3d6d8;
        border-radius: 0.5rem;
        color: #41464b;
        background-color: #e2e3e5;
    }
}
.card {
    background: #fff;
    border-radius: 10px;
    padding: 12px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    box-shadow: 0 -2px 4px 0 #35313205, 0 4px 8px 0 #35313210;

    &__title {    
        margin: 15px 0 0;
        font-family: sans-serif;
        flex: 1;
        text-align: center;
        font-size: 2rem;

    }
    &__img {
        max-width: 100%;
        height: 180px;
        width: auto;
        align-self: center;
    }

    &__info {
        align-self: center;
        margin-top: 15px;
    }

    &__cart-btn {
        font-family: sans-serif;
        color: #fff;
        background-color: #dc092e;
        border: 1px solid #dc092e;
        border-radius: 10px;
        align-self: center;
        cursor: pointer;
        padding: 10px 15px;
        margin-top: 20px;
        transition: all .25s;
        box-shadow: 0 5px 20px -5px rgb(238, 43, 42);

        &--remove {
            background-color: #ffffff;
            color: #dc092e;
            box-shadow: 0 5px 6px -5px #ee2b2a;
        }
    }

}


.message {
    position: fixed;
    bottom: 0;
    width: 100%;

    color: #084298;
    background-color: #cfe2fff2;
    border-color: #b6d4fe;
    padding: 20px;
    text-align: center;
    font-size: 2rem;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    transition: 0.3;

    &--show {
        visibility: visible;
        opacity: 1;
    }
}